.note {
    width: 240px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    color: gray;
}

.notes__container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
}

.note__title {
    font-size: 16px;
}

.note__actions {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
